
<div class="container box" style="max-width: 300px">
  <form [formGroup]="LoginForm">
    <h4 class="card-title" style="text-align: center">Bienvenido</h4>

    <div class="form-group form-item">
      <label for="name">Usuario</label>
      <input
        type="text"
        class="form-control"
        placeholder="Ingresa tu usuario"
        formControlName="username"
      />
    </div>
    <div class="form-group form-item">
      <label for="pas">Contraseña</label>
      <input
        type="password"
        class="form-control"
        id="pass"
        placeholder="Contraseña"
        formControlName="password"
      />
    </div>
    <div class="form-group form-item">
      <button
        style="width: 100%"
        type="submit"
        class="btn btn-primary form-item"
        (click)="login()"
        [disabled]="!LoginForm.valid"
      >
        Ingresar
      </button>
    </div>
    <div class="form-group form-item" style="align-content: center">
      <div style="text-align: center">
        <a class="card-link" (click)="register()"> Registrarse </a>
      </div>

      <p class="mt-5 mb-3 text-muted" style="text-align: center">&copy; 2022</p>
    </div>
  </form>
</div>
