.themed-grid-col {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(86, 61, 124, .15);
  border: 1px solid rgba(86, 61, 124, .2);
}

.themed-container {
  padding: .75rem;
  margin-bottom: 1.5rem;
  background-color: rgba(0, 123, 255, .15);
  border: 1px solid rgba(0, 123, 255, .2);
}

._mesa-container {
  background: rgb(113, 96, 96);
  /*border: 1px solid black;*/
}

._mesa {
  /*border: 1px solid red;*/
  /*background: rgb(113, 96, 96);*/
}

#mesa3 h6 {
  /*
  color: rgb(96, 199, 41);
  font-weight: bold;
  offset-x | offset-y | blur-radius | color 
  text-shadow: 2px -1px 3px black;*/
  text-shadow: 1px 2px 2px black, 0 0 1em rgb(0, 0, 0), 0 0 0.1em rgb(35, 35, 35);
  color: rgb(96, 199, 41);
  font: 1.2em Georgia, "Bitstream Charter", "URW Bookman L", "Century Schoolbook L", serif;
}