/**** CSS Grid ****/
.themed-grid-col {
  padding-top: .75rem;
  padding-bottom: .75rem;
  border: 1px solid rgba(86, 61, 124, .2);
}

.themed-container {
  padding: .75rem;
  margin-bottom: 1.5rem;
  background-color: rgba(0, 123, 255, .15);
  border: 1px solid rgba(0, 123, 255, .2);
}
/**** CSS Grid ****/
/*** Mis estilos ******/
._productos-color{
  background: rgb(187, 183, 183);
}
._themed-grid-col {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background: white;
  border: 1px solid rgba(86, 61, 124, .2);
}
._margin{
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}
._resaltar2:hover { /*seudo clase para que cambie de color cuando se pasa el cursor */
	color: rgb(251, 250, 250);
  font-weight: bold;
  /*background:rgb(25, 135, 84);*/
  border: 1px solid rgb(25, 135, 84);
  border-radius: 25px 10px;
}
._resaltar:target { /*seudo clase para que cambie de color cuando se pasa el cursor */
	color: rgb(251, 250, 250);
  font-weight: bold;
  /*background:rgb(25, 135, 84);*/
  border: 1px solid rgb(25, 135, 84);
  border-radius: 25% 10%;
}