<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }

    .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
    }

    .bi {
        vertical-align: -.125em;
        fill: currentColor;
    }

    .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
    }

    .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }
</style>
<hr class="my-4">

<body class="py-4">
    <main>
        <div class="container-fluid themed-container">
            <div [ngSwitch]="mesa_id">
                <h3 class="mt-1" *ngSwitchCase="1">Mesa 1</h3>
                <h3 class="mt-2" *ngSwitchCase="2">Mesa 2</h3>
                <h3 class="mt-2" *ngSwitchCase="3">Mesa 3</h3>
            </div>
            <h4 class="mt-2">Atendido por:</h4>

            <div class="row mb-3 text-center">
                <div class="col-md-7 themed-grid-col">
                    <div class="pb-3">
                        <h4 class="mt-2"> Productos</h4>
                    </div>
                    <div class="row">
                        <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
                            <div class="container-fluid">
                                <div class="collapse navbar-collapse" id="navbarCollapse">
                                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                                        <li class="nav-item">
                                            <a class="nav-link" aria-current="page" href="#">Entradas</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Platos Fuertes</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link "  href="#">Bebidas</a>
                                        </li>
                                    </ul>
                                    <form class="d-flex" role="search">
                                        <input class="form-control me-2" type="search" placeholder="Search"
                                            aria-label="Search">
                                        <button class="btn btn-outline-success" type="submit">Search</button>
                                    </form>
                                </div>
                            </div>
                        </nav>
                    </div>
                    <div  id="Entradas" class="row">
                        <div class="col-md-3 themed-grid-col">producto1</div>
                        <div class="col-md-3 themed-grid-col">producto2</div>
                        <div class="col-md-3 themed-grid-col">producto3</div>
                        <div class="col-md-3 themed-grid-col">producto4</div>
                        <div class="col-md-3 themed-grid-col">producto5</div>
                        <div class="col-md-3 themed-grid-col">producto6</div>
                        <div class="col-md-3 themed-grid-col">producto7</div>
                        <div class="col-md-3 themed-grid-col">producto8</div>
                    </div>
                </div>
                <div class="col-md-5 themed-grid-col">
                    <div class="pb-3">
                        <h4 class="mt-2"> Pedido</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-12 themed-grid-col">selected products</div>

                    </div>
                </div>
            </div>
            <hr class="my-4">
        </div>
    </main>



</body>