<div class="container box" style="max-width: 300px">
  <form [formGroup]="registerForm">
    <h4 class="card-title">Registro de usuarios</h4>

    <div class="form-group form-item">
      <label for="name">Nombre</label>
      <input
        type="text"
        class="form-control"
        placeholder="Ingresa tu nombre"
        formControlName="name"
      />
    </div>
    <div class="form-group form-item">
      <label for="name">Usuario</label>
      <input
        type="text"
        class="form-control"
        placeholder="Ingresa tu nombre"
        formControlName="username"
      />
    </div>
    <div class="form-group form-item">
      <label for="pas">Contraseña</label>
      <input
        type="password"
        class="form-control"
        id="pass"
        placeholder="Contraseña"
        formControlName="pass"
      />
    </div>
    <div class="check-container">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          formControlName="rol"
          id="flexRadioDefault1"
          [value]="1"
        />
        <label class="form-check-label" for="flexRadioDefault1"> Chef </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          formControlName="rol"
          id="flexRadioDefault2"
          [value]="2"
        />
        <label class="form-check-label" for="flexRadioDefault2"> Mesero </label>
      </div>
    </div>

    <button
      type="submit"
      class="btn btn-primary form-item"
      (click)="createUser()"
      [disabled]="!registerForm.valid"
    >
      Submit
    </button>
  </form>
</div>
